In [77]:
import pandas as pd
from datetime import date
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [101]:
month = pd.read_csv('monthly_sales.csv')

In [102]:
month['Month, Year'] = pd.to_datetime(month['Month, Year'], format='%b-%y')

In [103]:
month['HM'] = month['HM-NE'] + month['HM-SW'] + month['HM-NW'] + month['HM-SE'] + month['HM-C']

In [104]:
month['CF'] = month['CF-NE'] + month['CF-SW'] + month['CF-NW'] + month['CF-SE'] + month['CF-C']

In [105]:
month['FF'] = month['FF-NE'] + month['FF-SW'] + month['FF-NW'] + month['FF-SE'] + month['FF-C']

In [106]:
month_sum = month[['Month, Year', 'HM', 'CF', 'FF']]

In [107]:
year2016 = pd.Timestamp(2016, 1, 1)
year2017 = pd.Timestamp(2017, 1, 1)
year2018 = pd.Timestamp(2018, 1, 1)
year2019 = pd.Timestamp(2019, 1, 1)
year2020 = pd.Timestamp(2020, 1, 1)

In [108]:
monthly_data_2016 = month_sum[(month_sum['Month, Year'] >= year2016) & (month_sum['Month, Year'] < year2017)]

monthly_data_2017 = month_sum[(month_sum['Month, Year'] >= year2017) & (month_sum['Month, Year'] < year2018)]

monthly_data_2018 = month_sum[(month_sum['Month, Year'] >= year2018) & (month_sum['Month, Year'] < year2019)]

monthly_data_2019 = month_sum[(month_sum['Month, Year'] >= year2019) & (month_sum['Month, Year'] < year2020)]

In [109]:
#output each year's data
monthly_data_2016['Month, Year'] = monthly_data_2016['Month, Year'].apply(lambda x: x.strftime('%Y-%m')).copy()
monthly_data_2017['Month, Year'] = monthly_data_2017['Month, Year'].apply(lambda x: x.strftime('%Y-%m')).copy()
monthly_data_2018['Month, Year'] = monthly_data_2018['Month, Year'].apply(lambda x: x.strftime('%Y-%m')).copy()
monthly_data_2019['Month, Year'] = monthly_data_2019['Month, Year'].apply(lambda x: x.strftime('%Y-%m')).copy()

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [110]:
monthly_data_2016.set_index('Month, Year', inplace = True)
monthly_data_2017.set_index('Month, Year', inplace = True)
monthly_data_2018.set_index('Month, Year', inplace = True)
monthly_data_2019.set_index('Month, Year', inplace = True)

In [85]:
monthly_data_2016.to_csv('monthly_data_2016.csv')
monthly_data_2017.to_csv('monthly_data_2017.csv')
monthly_data_2018.to_csv('monthly_data_2018.csv')
monthly_data_2019.to_csv('monthly_data_2019.csv')

In [86]:
#-----------------------------------------------------------------------

In [113]:
yearOct2016 = pd.Timestamp(2016, 10, 1)
yearOct2017 = pd.Timestamp(2017, 10, 1)
yearOct2018 = pd.Timestamp(2018, 10, 1)
yearOct2019 = pd.Timestamp(2019, 10, 1)
yearOct2020 = pd.Timestamp(2020, 10, 1)

In [114]:
year1610_year1709 = month_sum[(month_sum['Month, Year'] >= yearOct2016) & (month_sum['Month, Year'] < yearOct2017)].copy()
year1710_year1809 = month_sum[(month_sum['Month, Year'] >= yearOct2017) & (month_sum['Month, Year'] < yearOct2018)].copy()
year1810_year1909 = month_sum[(month_sum['Month, Year'] >= yearOct2018) & (month_sum['Month, Year'] < yearOct2019)].copy()

In [115]:
year1610_year1709['Month, Year'] = year1610_year1709['Month, Year'].apply(lambda x: x.strftime('%Y-%m')).copy()
year1710_year1809['Month, Year'] = year1710_year1809['Month, Year'].apply(lambda x: x.strftime('%Y-%m')).copy()
year1810_year1909['Month, Year'] = year1810_year1909['Month, Year'].apply(lambda x: x.strftime('%Y-%m')).copy()

In [116]:
year1610_year1709.set_index('Month, Year', inplace = True)
year1710_year1809.set_index('Month, Year', inplace = True)
year1810_year1909.set_index('Month, Year', inplace = True)

year1610_year1709.to_csv('year1610_year1709.csv')
year1710_year1809.to_csv('year1710_year1809.csv')
year1810_year1909.to_csv('year1810_year1909.csv')

In [117]:
#-----------------------------------------------------------------------

In [95]:
year1610_year1709['sum_of_sale'] = year1610_year1709['HM'] + year1610_year1709['CF'] + year1610_year1709['FF']
year1710_year1809['sum_of_sale'] = year1710_year1809['HM'] + year1710_year1809['CF'] + year1710_year1809['FF']
year1810_year1909['sum_of_sale'] = year1810_year1909['HM'] + year1810_year1909['CF'] + year1810_year1909['FF']

In [118]:
year1610_year1709.to_csv('year1610_year1709_categories.csv')
year1710_year1809.to_csv('year1710_year1809_categories.csv')
year1810_year1909.to_csv('year1810_year1909_categories.csv')

In [119]:
year1610_year1709

                  HM       CF       FF
Month, Year
2016-10      6343865  2663903  1611235
2016-11      6490244  2748759  1661883
2016-12      6340076  2599316  1559588
2017-01      6685774  2808128  1698295
2017-02      7152982  2911445  1759942
2017-03      6817973  2886869  1732267
2017-04      6863707  2813861  1715924
2017-05      6964094  2878324  1754566
2017-06      7167558  2962089  1748524
2017-07      6840830  2944269  1751563
2017-08      7497876  3173062  1888539
2017-09      7352926  3063462  1809174

In [120]:
year1810_year1909

                  HM       CF       FF
Month, Year
2018-10      6781234  2862020  1730781
2018-11      7386402  3052314  1860819
2018-12      6954506  2874069  1710520
2019-01      7568561  3128423  1861751
2019-02      7350256  3061564  1866627
2019-03      7267799  3003545  1802980
2019-04      7317841  3073157  1859086
2019-05      7620829  3175075  1890213
2019-06      7124175  2921766  1752262
2019-07      6956441  2852679  1738859
2019-08      7190660  2995435  1768857
2019-09      7142860  3023767  1815026

In [137]:
month = pd.read_csv('monthly_sales.csv')
month['Month, Year'] = pd.to_datetime(month['Month, Year'], format='%b-%y')

year1810_year1909 = month[(month['Month, Year'] >= yearOct2018) & (month['Month, Year'] < yearOct2019)].copy()
year1810_year1909 = year1810_year1909.set_index('Month, Year')

burger_cols = [x for x in year1810_year1909.columns if x[:2] == 'HM']

# year1810_year1909[burger_cols].sum().to_csv('Geo_2018-2019.csv')
year1810_year1909[burger_cols].sum()

year1710_year1809 = month[(month['Month, Year'] >= yearOct2017) & (month['Month, Year'] < yearOct2018)].copy()
year1710_year1809 = year1710_year1809.set_index('Month, Year')

# year1710_year1809[burger_cols].sum().to_csv('Geo_2017-2018.csv')
year1710_year1809[burger_cols].sum()

In [150]:
month = pd.read_csv('monthly_sales.csv')
month['Month, Year'] = pd.to_datetime(month['Month, Year'], format='%b-%y')

year1810_year1909 = month[(month['Month, Year'] >= yearOct2018) & (month['Month, Year'] < yearOct2019)].copy()
year1810_year1909 = year1810_year1909.set_index('Month, Year')

burger_cols = [x for x in year1810_year1909.columns if x[:2] == 'CF']

year1810_year1909[burger_cols].sum().to_csv('Geo_CF_2018-2019.csv')
year1810_year1909[burger_cols].sum()

year1710_year1809 = month[(month['Month, Year'] >= yearOct2017) & (month['Month, Year'] < yearOct2018)].copy()
year1710_year1809 = year1710_year1809.set_index('Month, Year')

year1710_year1809[burger_cols].sum().to_csv('Geo_CF_2017-2018.csv')
year1710_year1809[burger_cols].sum()

CF-NE    8105702
CF-SW    7849623
CF-NW    7834679
CF-SE    7675296
CF-C     7620777
dtype: int64

In [151]:
month = pd.read_csv('monthly_sales.csv')
month['Month, Year'] = pd.to_datetime(month['Month, Year'], format='%b-%y')

year1810_year1909 = month[(month['Month, Year'] >= yearOct2018) & (month['Month, Year'] < yearOct2019)].copy()
year1810_year1909 = year1810_year1909.set_index('Month, Year')

burger_cols = [x for x in year1810_year1909.columns if x[:2] == 'FF']

year1810_year1909[burger_cols].sum().to_csv('Geo_FF_2018-2019.csv')
year1810_year1909[burger_cols].sum()

year1710_year1809 = month[(month['Month, Year'] >= yearOct2017) & (month['Month, Year'] < yearOct2018)].copy()
year1710_year1809 = year1710_year1809.set_index('Month, Year')

year1710_year1809[burger_cols].sum().to_csv('Geo_FF_2017-2018.csv')
year1710_year1809[burger_cols].sum()

FF-NE    4863725
FF-SW    4769802
FF-NW    4686079
FF-SE    4605964
FF-C     4584584
dtype: int64

In [152]:
daily = pd.read_csv('daily_sales.csv')

In [153]:
daily

,Unnamed: 0,Day,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
0,Friday,1/1/2016,37240,16077,8446,39249,16565,10204,37271,16819,9924,35967,13955,11734,35689,13499,11232
1,Saturday,1/2/2016,36258,14726,7950,38106,14003,7316,35021,14705,9028,36398,15089,8005,37178,14256,9152
2,Sunday,1/3/2016,37007,15103,8397,35494,15987,8683,35369,16591,8105,34864,13919,7011,35855,15557,8406
3,Monday,1/4/2016,37590,16413,9537,33666,15114,8429,37993,14535,8034,36601,14528,8201,36168,15699,7940
4,Tuesday,1/5/2016,38036,16199,10123,33528,13721,10085,37854,14590,9879,36661,15132,8874,36837,15420,8607
5,Wednesday,1/6/2016,38187,16386,8410,33608,14322,9652,36343,16302,9360,34374,14696,9674,37790,13810,10228
6,Thursday,1/7/2016,38095,16045,11791,33007,15068,8985,35901,15408,8834,35895,14981,8370,36061,13436,8993
7,Friday,1/8/2016,34685,15058,8179,38964,13608,10985,36279,14465,10639,35441,13411,11630,34898,15544,12463
8,Saturday,1/9/2016,35059,14585,7193,33637,14035,7616,38059,13804,8589,36194,15525,6890,37192,13619,6799
9,Sunday,1/10/2016,36906,16905,10580,39361,14788,7105,35332,15809,7702,33847,15282,7520,35334,14447,7583
10,Monday,1/11/2016,36893,16771,10091,35750,16565,9506,37802,15222,8566,34769,15528,9312,37905,14909,9037
11,Tuesday,1/12/2016,37243,15642,9247,35040,16132,8424,36105,16518,8555,35134,14510,7735,35045,14419,8418
12,Wednesday,1/13/2016,37476,15343,10250,35242,14846,9316,38015,16162,9872,37190,15693,8416,34532,15537,9279
13,Thursday,1/14/2016,37977,16256,12264,36682,14869,8832,36866,15822,8617,34698,13358,8826,36526,14421,7804
14,Friday,1/15/2016,36130,16352,7127,38272,15946,10360,35068,16561,10503,35856,15537,11533,37012,13057,11764
15,Saturday,1/16/2016,35147,15408,7174,36955,15204,8140,34234,15179,8543,36609,15241,8346,36274,15202,9431
16,Sunday,1/17/2016,38330,16272,9313,36046,16032,7152,35821,14858,7177,33645,15273,7647,36386,15493,7112
17,Monday,1/18/2016,35629,15691,8441,37242,16313,9602,36945,14479,9107,34210,13589,8793,36938,14565,9250
18,Tuesday,1/19/2016,38094,15224,9101,35703,16032,8425,33663,13625,8765,34634,15295,8436,36811,13162,7773
19,Wednesday,1/20/2016,34610,17072,8739,38221,14952,9944,35313,14239,9474,34044,13408,8426,35951,15017,8276
20,Thursday,1/21/2016,35293,16677,11108,38971,14999,9787,34489,16771,9876,34814,15293,8637,37177,13464,9376
21,Friday,1/22/2016,35862,16553,6865,37796,16330,11615,37919,14578,10598,34969,15744,11709,37222,15335,12847
22,Saturday,1/23/2016,38019,14905,7271,35544,14326,9015,33703,15514,8058,36681,13458,8189,35494,15609,8713
23,Sunday,1/24/2016,38460,15743,9887,36372,15520,7722,33234,14814,7680,35579,14646,7167,36777,13787,6881
24,Monday,1/25/2016,37295,16769,9068,33006,16468,9428,36311,17134,8892,35061,13521,8545,37700,14362,9227
25,Tuesday,1/26/2016,35164,17046,9835,38405,13150,8632,37012,17253,7952,32933,15373,8565,37465,13658,9194
26,Wednesday,1/27/2016,36414,16974,10656,38709,16688,9102,35904,15021,8609,37051,15461,8954,36245,13868,8185
27,Thursday,1/28/2016,35179,16900,12027,35194,12996,9959,34396,17001,9768,35124,14684,9376,35524,15171,10200
28,Friday,1/29/2016,38474,14468,7554,34861,16469,10941,34071,14691,10364,35301,14829,12241,35109,14045,12377
29,Saturday,1/30/2016,37323,15347,7413,35504,13307,7877,35644,16680,8465,34985,14366,7727,36614,15210,7632
30,Sunday,1/31/2016,36880,15892,11201,36430,14213,8302,33681,16929,8369,35505,14939,7269,34767,15380,7440